<section class="team">
  <div class="container team-container">
    <img
      class="team-img"
      src="./images/imageTwoSection.jpg"
      alt="team pictures"
    />
    <div class="team-about">
      <p class="team-subtitle">What you are looking for</p>
      <h2 class="team-title">We provide bespoke solutions</h2>
      <p class="team-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="team-btn" type="button">Read More</button>
    </div>
  </div>
</section>
