<section class="section-blog">
  <div class="container blog-container">
    <div class="container-blog">
      <p class="text-blog">April 16 2020</p>
      <h2 class="title-blog">Blog Post One</h2>
      <p class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="blog-btn">Read Our Blog</button>
    </div>

    <img src="./images/desktop.jpg" alt="desktop" />
  </div>
</section>
