<header class="header">
  <div class="container header-container">
    <a class="logo" href="./index.html">
      <span class="logo-accent">Finance</span>Ledger
    </a>
    <nav class="nav">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#home">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#cases">Cases</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#blog">Blog</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#about">About</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
