/* HEADER */

.header {
  position: absolute;
  width: 100%;
}
.container {
  margin: 0 auto;
  width: 1360px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
}
.logo {
  color: var(--main-text-color);
  font-size: 35px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-text-color);
}

.nav {
}
.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}
.header-link {
  color: var(--main-text-color);
  line-height: 1.56;
  padding: 20px 0;
  display: block;
}
